<div class="site">
  <div class="ui massive menu">
    <div class="ui container">
      <div class="item"><a href="/">Home</a></div>
      <div class="item"><a href="/pacientes/index">Pacientes e consultas</a></div>
    </div>
  </div>
</div>